<aside id="sidenav">
    <header>
    {{if eq .Site.Params.useAvatar true}}
        <a href="{{ .Site.BaseURL }}"><img src="/avatar.png" alt="avatar"></a>
    {{end}}
    <a id="branding" href="{{ .Site.BaseURL }}">{{ .Site.Title | safeHTML }}</a>
    </header>

    <nav>
        {{ range .Site.Menus.main }}
            {{ $url := urls.Parse .URL }}		
            <a href="{{ $url }}"
                {{ if ne $url.Host ""}}
                    target="_blanck"
                {{end}}
            >
                {{with .Pre}}
                    {{ .}}
                {{else}}
                    <i class="far fa-file far-sm"></i>
                {{end}}

                <span>{{ .Name }}</span>
            </a>
        {{end}}
            <a href="/tags" >
                <i class="fas fa-tags"></i>
                <span>tags</span>
            </a>
            <a href="/contact" >
                 <i class="far fa-envelope"></i>
                <span>contact</span>
            </a>
</aside>
